---
import Layout from "../layouts/Layout.astro";

const members = [
  {
    name: "段風桜 Dampuzakura",
    role: "代表 / 創設者",
    introduction: "",
    image: "https://avatars.githubusercontent.com/u/168283013",
    website: "https://dampuzakura.github.io",
    x: "https://x.com/dampuzakura",
    bluesky: "https://dampuzakura.bluesky.social",
    mastodon: "https://fedibird.com/@dampuzakura",
    misskey: "https://misskey.io/@dampuzakura",
    github: "https://github.com/dampuzakura",
    youtube: "https://www.youtube.com/@dampuzakura",
    zenn: "https://zenn.dev/dampuzakura",
    qiita: "https://qiita.com/dampuzakura",
  },
];
---

<Layout
  title="About"
  description="About"
  thumbnail="/img/hennie-stander-AALupmpUC64-unsplash.jpg"
>
  <div class="mx-8 my-4 mt-16 space-y-4">
    <h1 class="mb-4 text-3xl font-bold">About</h1>
    <div>
      <h2 class="mb-4 text-4xl font-semibold">私について</h2>
      <div class="grid gap-4 cols-4">
        <img src="https://avatars.githubusercontent.com/u/168283013" alt="段風桜 Dampuzakura" class="rounded-full aspect-ratio-square" />
        <p class="col-span-3 text-xl">
          こんにちは、段風桜（ダンプウザクラ）です。<br />
          私はTovuwataという組織の代表兼創設者を務めています。<br />
          私の名前の由来は、春のある日、心地よい暖かい風が吹き、桜の花びらが舞い落ちる美しい景色からインスピレーションを受けました。<br />
          この名前「段風桜」には、暖かい風を意味する「暖風」と、「桜」の2つの要素が含まれています。<br />
          桜のように美しく広く知られることを目指し、目標に向かう過程や成長を大切にしています。<br />
          「暖」を「段」に置き換えることで、目標達成に向けたプロセスを表現しました。<br />
          私のスキルには、HTML、CSS、JavaScript、TypeScript、Go、Pythonがあります。<br />
          これらの技術を駆使して、魅力的で機能的なプロジェクトを創り出していきます。<br />
          今後ともよろしくお願いいたします。
        </p>
      </div>
    </div>
  </div>
</Layout>
