---
import Layout from '../layouts/Layout.astro';
---

<Layout pageTitle='トップ'>
	<div class='container p-5'>
		<section class='mb-5' id='top'>
			<h1 class='text-5xl'>ようこそ<br />段風桜のウェブサイトへ。</h1>
		</section>
		<section class='mb-5' id='whoami'>
			<h1 class='text-4xl'>私は誰</h1>
			<p>
				こんにちは。<br />
				私の名前は、段風桜です。<br />
				ダンプウザクラと読みます。<br />
				ぜひ私のことを覚えてください。
			</p>
		</section>
		<section class='mb-5'>
			<h1 class='text-4xl'>名前の由来</h1>
			<p>
				春のある日、心地よい暖かい風が吹き、桜の花びらが舞い落ちる美しい景色が広がっていました。<br
				/>
				その景色からインスピレーションを受けて、私は名前を考えることにしました。<br
				/>
				この名前「暖風桜」には、暖かい風を意味する「暖風」と、「桜」の2つの言葉が組み合わさっています。<br
				/>
				桜の花のように美しく広く知られることを目指している私にとって、目標に向かって進んでいく過程やレベルを示すことが大切だと考えました。<br
				/>
				そこで、「暖」を同じ読みの「段」という言葉に置き換えることで、目標達成に向けたプロセスのイメージを表現しました。<br
				/>
			</p>
		</section>
		<section class='mb-5'>
			<h1 class='text-4xl' id='languages'>使用言語</h1>
			<ul>
				<li>CSS</li>
				<li>Go</li>
				<li>HTML</li>
				<li>JavaScript</li>
				<li>Python</li>
			</ul>
		</section>
		<section class='mb-5'>
			<h1 class='text-4xl' id='projects'>プロジェクト</h1>
			<ul>なし</ul>
		</section>
		<section class='mb-5'>
			<h1 class='text-4xl' id='sns'>SNS</h1>
			<ul>
				<li>
					<a href='https://bsky.app/profile/dampuzakura.bsky.social'
						>Bluesky @dampuzakura.bsky.social</a
					>
				</li>
				<li>
					<a href='https://www.facebook.com/profile.php?id=61558987980209'
						>Facebook</a
					>
				</li>
				<li>
					<a href='https://instagram.com/dampuzakura'>Instagram @dampuzakura</a>
				</li>
				<li>
					<a href='https://misskey.io/@dampuzakura'
						>Misskey @dampuzakura@misskey.io</a
					>
				</li>
				<li>
					<a href='https://threads.net/dampuzakura'>Threads @dampuzakura</a>
				</li>
				<li><a href='https://x.com/dampuzakura'>X @dampuzakura</a></li>
			</ul>
		</section>
		<!-- <section class="mb-5">
			<h1 class="text-4xl"></h1>
		</section>
	</div> -->
	</div>
</Layout>
