---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="トップ"
  description="トップページ"
  thumbnail="/img/don-kawahigashi-0-0nQxBHJ84-unsplash.jpg"
>
  <link rel="image" href="/img/don-kawahigashi-0-0nQxBHJ84-unsplash.jpg" />
  <div id="top" class="h-screen bg-cover bg-[url('/img/don-kawahigashi-0-0nQxBHJ84-unsplash.jpg')]">
  <link rel="image" href="/img/michael-marsh-IWWlv84VE7M-unsplash.jpg" />
  <div id="top" class="h-screen bg-cover bg-center bg-[url('/img/michael-marsh-IWWlv84VE7M-unsplash.jpg')]">
    <div class="flex items-center justify-center w-full h-full text-white backdrop-blur-sm">
      <div class="items-center justify-center w-3/4">
        <div class="px-4 py-2 text-left font-strong backdrop-blur-md">
          <h1
            class="flex text-6xl text-transparent font-1000 bg-gradient-to-rb from-green-600 to-blue-600 bg-clip-text"
          >
            ようこそ<br />
            段風桜のウェブサイトへ
          </h1>
          <h2 class="mb-8 text-5xl font-semibold">私の自己紹介をさせてください！</h2>
        </div>
        <a class="button" href="/projects">
          <div class="i-fluent-emoji:rocket animate-bounce w-3em h-3em"/>自己紹介を見る
        </a>
      </div>
    </div>
  </div>
</Layout>
