---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="プロジェクト"
  description="プロジェクト一覧"
  thumbnail="/img/scott-graham-5fNmWej4tAA-unsplash.jpg"
>
  <div class="mx-8 my-4 mt-16">
    <h1 class="mb-4 text-3xl font-bold">プロジェクト</h1>
    <div class="cardParent">
      <div class="p-4 card">
        <h1 class="text-2xl font-semibold">Tovuwata</h1>
        <p class="text-lg">Tovuwataという組織を立ち上げ、代表をしております。</p>
        <a class="button" href="https://tovuwata.github.io">見てみる</a>
      </div>
      <div class="p-4 card">
        <h1 class="text-2xl font-semibold">Tovuwata FediGazette</h1>
        <p class="text-lg">Tovuwataが運営する分散型SNSの専門メディアです。</p>
        <a class="button" href="https://tovuwata.github.io/fedigazette">見てみる</a>
      </div>
    </div>
  </div>
</Layout>
