---
import { SEO } from 'astro-seo';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import './app.css';

const { title, description, thumbnail } = Astro.props;

const generateTitle = (title: string) => {
  if (title?.toLowerCase().includes('段風桜')) return title;
  return `${title} - 段風桜`;
};
---

<html lang="ja">
  <head>
    <!-- Google Tag Manager -->
    <script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=GTM-5RFKPDCX" />
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "GTM-5RFKPDCX");
    </script>
    <!-- End Google Tag Manager -->

    <SEO
      charset='utf-8'
      title={generateTitle(title)}
      description={description}
      openGraph={{
        basic: {
          title: generateTitle(title),
          type: 'website',
          image: thumbnail ?? '/img/andrew-neel-cckf4TsHAuw-unsplash.jpg',
        },
      }}
      twitter={{
        creator: "@dampuzakura",
      }}
      extend={{
        link: [
          {
            rel: "icon",
            type: "image/svg+xml",
            href: "/favicon.ico",
          },
          {
            rel: "sitemap",
            href: "/sitemap-index.xml",
          },
          {
            rel: "alternate",
            type: "application/rss+xml",
            href: "/rss.xml",
            title: "RSSフィード"
          },
          {
            rel: "me",
            href: "https://fedibird.com/@dampuzakura",
          },
          {
            rel: "me",
            href: "https://misskey.io/@dampuzakura",
          },
        ],
        meta: [
          {
            name: "twitter:image",
            content: thumbnail ?? '/img/andrew-neel-cckf4TsHAuw-unsplash.jpg',
          },
          {
            name: "twitter:title",
            content: generateTitle(title),
          },
          {
            name: "twitter:description",
            content: description,
          },
          {
            name: "viewport",
            content: "width=device-width, initial-scale=1.0",
          },
          {
            name: "generator",
            content: Astro.generator,
          },
        ],
      }}
    />
  </head>
  <body
    class="min-h-screen overflow-x-hidden font-sans text-gray-200 bg-black selection:text-orange-600 selection:bg-cyan-300"
  >
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RFKPDCX"
  height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <Header />
    <main class="mb-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
