---
import Footer from '@components/Footer.astro';
import Navbar from '@components/Navbar.svelte';
import { SEO } from 'astro-seo';

interface Props {
  title: string;
  description?: string;
}
const { title, description } = Astro.props;

const twitter = '@dampuzakura'; // Enter your X handle
const image = '/images/avatar.png'; // Add your image URL
---

<html lang='ja'>
  <head>
    <SEO
      title={title}
      description={description}
      charset='utf-8'
      openGraph={{
        basic: {
          title,
          type: 'website',
          image,
        },
      }}
      twitter={{
        creator: twitter,
        site: twitter,
      }}
      extend={{
        link: [
          {
            rel: 'icon',
            type: 'image/svg+xml',
            href: '/favicon.svg',
          },
        ],
        meta: [
          {
            name: 'viewport',
            content: 'width=device-width, initial-scale=1',
          },
          {
            name: 'twitter:image',
            content: image,
          },
          {
            name: 'twitter:title',
            content: title,
          },
          {
            name: 'twitter:description',
            content: description,
          },
        ],
      }}
    />
    <script>
      if (
        window.matchMedia &&
        window.matchMedia('(prefers-color-scheme: dark)').matches
      ) {
        document.documentElement.classList.add('dark');
      }
    </script>
  </head>
  <body
    class='mb-16 overflow-x-hidden font-sans text-black bg-gray-1 dark:bg-black dark:text-gray-1 md:mb-0 md:ml-50 selection:text-pink-6 scroll-smooth'
  >
    <Navbar />
    <main class='mx-4 my-8 rounded'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
