---
import Header from '../components/Header.astro';
let name = "段風桜（ダンプウザクラ）";
let websiteTitle = `${name}のウェブサイト`;
let { pageTitle } = Astro.props;
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle} - {websiteTitle}</title>
	</head>
	<body class="bg-gray-300">
		<Header />
    <slot />
	</body>
</html>